# Core dependencies
pytest
pytest-benchmark @ git+https://github.com/ionelmc/pytest-benchmark.git@master

# Numerics
numpy
numba ; python_version <= '3.12'

# Composite structures and type checking
pydantic ; python_version <= '3.13'
attrs

# Heterogeneous data structures
pandas
pyarrow ; python_version <= '3.13'

# Networking
fastapi # HTTP server
uvicorn # Underlying ASGI server
requests # HTTP client
httpx # Alternative HTTP client