# Core dependencies
pytest
pytest-benchmark

# Numerics
numpy
numba ; python_version <= '3.12'

# Composite structures and type checking
pydantic ; python_version <= '3.13'
attrs

# Heterogeneous data structures
pandas
pyarrow ; python_version <= '3.13'
